<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Kazakimaru/IdeaProjects/Swag-Labs-Web-App-Automation/src/main/java/config">
        <classes>
            <class name="LoginTest"/>
            <class name="NavBarTest"/>
            <class name="FooterTest"/>
            <class name="HomePageTest"/>
            <class name="SortItemTest"/>
        </classes>
    </test>
</suite>